html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.collection-item{
  display: flex;
  justify-content: space-between;
}

.material-icons{
  cursor: pointer;
  margin-right: 5px;
}

.vote-box{
  display: flex;
  align-items: center;
}